.background {
    min-height:600px;
    background-image: url(./header_bg2.jpg);
    background-size: cover;
    background-position: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    background: #f9f9f9;
    opacity: 0.3;
    cursor: pointer;
    position: relative;
    margin: 17px 10px 0px 47px;
    font-size: 18px;
    transition: 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #000;
    color: #fff;
}

ul li:hover {
    background: #fff;
    color: #000;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close:hover {
    background-color: #000;
    color: #fff;
}

.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";  
}

input {
    border-radius: 50px;
    background: #000;
    opacity: 0.3;
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
footer{
    background-color: #000;
    color: #fff;
    clear: both;
}

.addBtn {
    border-radius: 50px;
    padding: 9px;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.7s;
}

.addBtn:hover {
    background-color: #fff;
    color: #000;
}
